* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    background-color: #111111;
    color: #A6A6A6;
    padding-top: 3rem;
}

button {
    background-color: #F2D058;
    font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    cursor: pointer;
    border: none;
    border-radius:  0.5rem;
    padding: 0.7rem 1.2rem;
    transition: all 0.2s ease;
    box-shadow: 0 0 8px rgba(242, 208, 88, 0.3);
    display: flex;
    font-weight: 600;
}

button:hover {
    background-color: rgba(242, 208, 88, 0.9); 
    box-shadow: 0 0 12px rgba(242, 208, 88, 0.3);
}

button img {
    width: 1.2rem;
}

img {
    width: 2rem;
}

.section-title {
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: 700;
    color: #F2D058;   
    text-align: center;
}

.main-title {
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

.subtitle {
    font-size: 1.3rem;
}

.text {
    font-size: 1rem;
}

.destaque {
    color: #F2D058;
    font-weight: 600;

}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #111111;
    border-bottom: 2px solid #333333;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem;
}

#nav-bar  div   ul {
    list-style: none;
    display: flex;
}

#nav-bar  div   ul  li {
    padding: 0 0.5rem;
}

#nav-bar  div   ul  li  p {
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

#nav-bar  div   ul  li  p:hover {
    color: #F2D058;
}

#main-img {
    text-align: center;
}

#main-img  img {
    width: 25%;
    padding: 3rem 0;
    filter: drop-shadow(0 0 20px #f2d15844);

}

#first-section {
    text-align: center;
    margin: auto 25%;
}

#bttn-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    padding: 2rem 17rem;
}

#bttn-row img {
    margin-left: 1rem;
    width: 1rem;
    position: relative;
    transition: transform 0.3s ease;
}

#bttn-imghover:hover img {
    transform: translateX(0.3rem);
}

#bttn-black {
    background-color: #111111;
    border: 1px solid #F2D058;
    color: #F2D058;
    transition: all 0.2s ease;
}

#bttn-black:hover {
    background-color: #F2D058;
    color: #000;
}

#fs-cards-container {
    padding: 1rem 27rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.fs-cards {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;        
    justify-content: center;  
    text-align: center;
    background-color: #1a1a1a;
    border: 2px solid #2b2b2b;
    border-radius: 0.5rem;
    height: 13rem;
    width: 20rem;
    align-content: center;
    justify-content: center;
    padding: 0 2.5rem;
}

.img-squares {
    background-color: #bea4443f;
    padding: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.5rem;
    text-align: center;

}

.img-squares p {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.2rem;
}

.fs-destaque {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}

#ss-text {
    margin: 0 25%;
    text-align: center;
    margin-bottom: 3rem;
}

#ss-cards-container {
    margin: 0 15rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;;
}

.ss-cards {
    border: 1px solid #2b2b2b;
    border-radius: 0.5rem;
    width: 49%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.ss-card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img-container {
    background-color: #bea4443f;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;
}

.ss-card-txt {
    background-color: #8d79323f;
    padding: 0.2rem 0.4rem;
    border-radius: 80rem;
}

.ss-card-header div p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.ss-card-intro {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.destaque-cards {
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}

.ss-card-desc {
    font-size: 1rem;
}

.ss-card-body{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;;
    justify-content: space-between;
}

.ss-card-features {
    display: flex;
    justify-content: space-between;
    background-color: #2b0a0a;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.ss-card-features p {
    color: #fff;
}

.ss-card-features h4 {
    color: #f83333;
}

#card-glow {
    box-shadow: 0 0 10px #f2d158aa;
}

#header-glow {
    background-color: #ecc73e;
    font-weight: 600;
}

#header-glow p {
    color: #000;
}

.ss-card-features-glow {
    display: flex;
    justify-content: space-between;
    background-color: #d6c8482f;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.ss-card-features-glow p {
    color: #fff;
}

.ss-card-features-glow h4 {
    color: #ffdb0d;
}

.advantages-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 15rem;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 10rem;
}

.advantages-cards {
    border: 1px solid #2b2b2b;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.advantages-cards h3 {
    color: #fff;
    font-weight: 600;
}

#ts-text {
    margin: 0 25%;
    text-align: center;
    margin-bottom: 3rem;
}

.tag {
  background-color: #d4a52d47;
  color: #000;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: bold;
  margin-top: 16px;
}